    <footer>
      <div class="discord">
        <img src="/images/discord-logo-black.svg" alt="discord logo" />
        <p>awsome01</p>
      </div>
      <div class="separator-small-circle"></div>
      <p>© <%= new Date().getFullYear() %> BIHR</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/client.js"></script>
  </body>
</html>
